<div class="cover-card table-cell table-middle">
  <a href="{{ site.url }}/" class="site_title">{{ site.title }}</a>
  <span class="site_description">{{ site.description }}</span>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="{{ site.url }}/">home</a>
      </li>
      {% for page in site.pages %} {% if page.title %}
      <li class="nav-item">
        <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
      </li>
      {% endif %} {% endfor %}
    </ul>
  </nav>
</div>
